################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TallerMecanicoChallenge/FileContentIndex/945bfa3a-1803-40c8-b286-d4a083e50a2d.vsidx
/.vs/TallerMecanicoChallenge/FileContentIndex/read.lock
