################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Controller/obj/Debug/Controller.csproj.AssemblyReference.cache
/Persistance/obj/Debug/Persistance.csproj.AssemblyReference.cache
/TallerMecanicoChallenge/obj/Debug/View.csproj.AssemblyReference.cache
/.vs/TallerMecanicoChallenge/v17/.suo
/.vs/TallerMecanicoChallenge/FileContentIndex/8234f6f5-ebc9-4b29-ac49-e59be61d714e.vsidx
/Controller/obj/Debug/Controller.csprojAssemblyReference.cache
/.vs/TallerMecanicoChallenge/v16/.suo
